template(name="signUpSuccess")
  div.container
    div.content(id="main")
      div.sign-up
        h2 欢迎加入WeiSo！
        h3 您已注册成功，请返回登录页登录！
        a(href="/signin")
            button.btn.btn-link(type="button") 返回登录页
                



