/** utils class */
.generate-usual(100);
.generate-usual(@n, @i: 10) when (@i =< @n) {
  .mt-@{i} { margin-top: (@i + 0px) !important; }
  .mb-@{i} { margin-bottom: (@i + 0px) !important; }
  .ml-@{i} { margin-left: (@i + 0px) !important; }
  .mr-@{i} { margin-right: (@i + 0px) !important; }

  .pt-@{i} { padding-top: (@i + 0px) !important; }
  .pb-@{i} { padding-bottom: (@i + 0px) !important; }
  .pl-@{i} { padding-left: (@i + 0px) !important; }
  .pr-@{i} { padding-right: (@i + 0px) !important; }
  .wd-@{i} { width: (@i + 0px) !important; }
  .hg-@{i} { height: (@i + 0px) !important; }

  .generate-usual(@n, (@i + 10));
}

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@white: #fff;
@blue: #3388ff;
@success: #2cbd2c;
@fail: #f5535b;
@zindex-modal-mask: 10;


@title-size: 0.18rem;
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Utility classes
.clearfix {
  .cfx();
}

/*
 * clearfix
 */

.cfx() {
    zoom: 1;
    &:before,
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

ul,li {
    list-style: none;
    margin: 0rem;
    padding: 0;
}
.tc {
  text-align: center !important;
}
// 关于按钮的规范
.btn-normal {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  &.active {
    color: #fff;
    background-color: @blue;
    border-color: #46b8da;
    &:hover {
      background-color: #31b0d5;
      border-color: #269abc;
    }
  }
    
}
.small-btn {
    height: 0.4rem;
    width: 0.8rem;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 0.05rem;
    cursor: pointer;
    border: 1px solid @gray-lighter;
}
// 遮罩部分
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: @zindex-modal-mask;
    left: 0px;
    top: 0px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
}


