template(name="signIn")
  div.login
    h2 欢迎使用WeiSo
    div.error-massage
    div
      ul
        li
          label(for="loginNumber") 账 号
          input.form-control(type="email" id="loginNumber" placeholder="请输入您的账号")
        li
          label(for="passWord") 密 码
          input.form-control(type="password" id="passWord" placeholder="请输入登录密码")
        li.clearfix
          span.radio.fl.ml-60
            label 个人用户
              input(type="radio" name="optionsRadios" id="optionsRadios1" value="individualUser" checked)
          span.radio.fl.corporateUser.ml-20
            label  企业用户
              input(type="radio" name="optionsRadios" id="optionsRadios2" value="corporateUser")
        li
          button.btn.btn-primary(type="button") 登录
          a(href="/signup")
            button.btn.btn-link(type="button") 没有WeiSo账户？现在注册
          button.btn.btn-link(type="button") 忘记密码？