template(name="corporate")
  .container(class="{{hide 'container'}}")
    .row
      .menu-corp
        .col-md-2.single.tc.console-info(class="{{active 'consoleInfo'}}") 企业信息
        .col-md-2.single.tc.ml-10.job-list(class="{{active 'jobList'}}") 已发布职位
        .col-md-2.single.tc.ml-10.new-job(class="{{active 'newJob'}}") 发布新职位
    div(class="{{hide 'consoleInfo'}}")
      +consoleInfo
    div(class="{{hide 'jobList'}}")
      +jobList
    div(class="{{hide 'newJob'}}")
      +newJob