template(name="corporate")
  .container
    .row
      .menu-corp
        .col-md-2.single.tc.active.job-list 已发布职位
        .col-md-2.single.tc.ml-10.new-job 发布新职位
    div(class="{{hide 'jobList'}}")
      +jobList
    div(class="{{hide 'newJob'}}")
      +newJob


