template(name="console")
  .container
    .row
      .menu-corp
        .col-md-2.single.tc 个人信息
        .col-md-2.single.tc.ml-10 简历管理
        .col-md-2.single.tc.ml-10.active 投递反馈
    div
      //- +addResume
      //- +consoleInfo
      //- +resumeList
      +feedback