<template name="modal"> 
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">WeiSo</h4>
          </div>
          <div class="{{modalTemplate 'schoolExperience'}}">
            {{> schoolExperience}}
          </div>
          <div class="{{modalTemplate 'addEducation'}}">
            {{> addEducation}}
          </div>
          <div class="{{modalTemplate 'workExperience'}}">
            {{> workExperience}}
          </div>
          <div class="{{modalTemplate 'addReward'}}">
            {{> addReward}}
          </div>
          <div class="{{modalTemplate 'chooseResume'}}">
            {{> chooseResume}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default modal-btn" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary modal-submit modal-btn">确定</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>