template(name="index")
  .normal-index
    .user-joblist
      .row
        .col-md-2.user-joblist-title 职位列表
      each jobInfo
        .card.mt-20
          .job-name
            .row
              .col-md-10 {{jobName}}({{jobType}})
              if jobStatus
                .col-md-2.job-state.open 正在进行
              else
                .col-md-2.job-state.closed 已结束
          .job-desc
            .row
              .col-md-1 职位描述:
              .col-md-10.ellipsis {{jobDesc}}
            .row
              .col-md-1 工作城市:
              .col-md-1 {{provinces}}
              .col-md-1 {{city}}
            .row
              .col-md-1 招聘公司:
              .col-md-11 {{company}}
            .row
              .col-md-1 学历要求:
              .col-md-11 {{education}}
            .row
              .col-md-1 截止时间:
              .col-md-10 {{endTime}}
              .col-md-1
                a.apply(href="/job/{{_id}}") 申请职位