template(name="jobList")
  .job
    .search
      .row
        .col-md-1.fr 一键刷新
        .col-md-1.fr 搜索
    .job-list
      .card.mt-10.job-detail 
        .row
          .col-md-2.ellipsis.job-name 数据挖掘工程师
          .col-md-1
            a.job-option 投递情况
          .col-md-1
            a.job-option 编辑职位
          .col-md-6
          .col-md-2.job-state 正在进行
        .row.pt-10.job-time
          .col-md-1 发布时间:
          .col-md-2 2017.2.25 21:15
        .row
          .col-md-1.job-time 结束时间:
          .col-md-2.job-time 2017.4.6
          .col-md-3
          .col-md-2.job-number 未阅读 200
          .col-md-2.job-number 感兴趣 50
          .col-md-2.job-number 淘汰 300
    


