template(name="jobList")
  .job
    .search
      .row
        .col-md-1.fr 一键刷新
        .col-md-1.fr 搜索
    .job-list
      each jobList
        .card.mt-10.job-detail
          .row
            .col-md-2.ellipsis.job-name {{jobName}}
            .col-md-1
              a.job-option 投递情况
            .col-md-1
              a.job-option 编辑职位
            .col-md-6
            .col-md-2.job-state {{jobStatus}}
          .row.pt-10.job-time
            .col-md-1 发布时间:
            .col-md-2 {{creatTime}}
          .row
            .col-md-1.job-time 结束时间:
            .col-md-2.job-time {{endTime}}
            .col-md-3
            .col-md-2.job-number 未阅读 {{unread}}
            .col-md-2.job-number 感兴趣 {{unread}}
            .col-md-2.job-number 淘汰 {{eliminate}}
    


