template(name="header")
  header.navbar.navbar-default(role="navigation")
    .container
      .row
        .col-md-1
          a.navbar-brand(href="/") WeiSo
        .col-md-11
          .col-md-12(class="{{loginState 'isLogin'}}")
            .col-md-10
            .col-md-2.header-info.not-login
              a(href="/signin") 登录/
              a(href="/signup") 注册
          .col-md-12(class="{{loginState 'notLogin'}} {{userType 'individualUser'}}")
            .col-md-10
            .col-md-1.header-info
              a 个人中心
            .col-md-1.header-info.ellipsis.fr
              a.user-name
          .col-md-12(class="{{userType 'corporateUser'}}")
            .col-md-11
            .col-md-1.header-info.ellipsis.fr
              a.user-name
  .logout
    .container
      .logout-btn.fr.hide
        p 退出登录